<div class="palm-page-header">
    <div class="header-icon preferences"></div>
    <div class="header-text">
        <span x-mojo-loc='' style="text-transform:none;">Time Crunch</span>
    </div>
</div>

<div id="showWorkoutList" name="showWorkoutList" style="display:block;">
    <div class="palm-group">
        <div class="palm-group-title"><span x-mojo-loc=''>Workouts</span></div>
        <div x-mojo-element="Scroller" id="workoutScroller" class="scrollerClass" name="workoutScroller" style="height:300px; padding: 0px;margin:-12px;">
            <div id="workoutList" x-mojo-element="List"></div>
        </div>
    </div>
</div>