<div class="palm-hasheader" style="margin-bottom:60px">
    <div id="divWorkoutTitle" class="palm-header center">
        Workout
    </div>
</div>

<div style="width:100%; margin:auto; align-content: center; text-align: center;">
    <img src="images/get-ready.png" id="imgExercise" class="imgExercise" /><br/>
</div>

<div id="divSpinnerContainer" style="width: 130px;margin-left: auto;margin-right: auto; margin-top: 30px; align-items: center;">
    <div x-mojo-element="Spinner" class="spinnerClass" id="timerSpinner" name="timerSpinner"></div>
</div>

<div id="divTimer" style="width: 70px;margin-left: auto;margin-right: auto; margin-top:-78px; align-items: center;display:none">
    <div id="divTimerValue" name="divTimerValue" style="text-align: center;color:dimgrey;">30</div>
</div>

<audio id="audioPlayer">
    <source src="sounds/lets-get-started.mp3" type="audio/mp3">
</audio>

<div x-mojo-element="ProgressBar" id="progressWorkout" class="progressbarClass" name="progressWorkout" style="position: absolute; top: 332px; left: 60px; width: 200px"></div>